// app global css in SCSS form
.q-page {
    height: 1px; //min-height is set by quasar, but height-property is needed for grid/list-overflow to work
    display: grid;
}

h1 {
    font-size: 2rem;
    line-height: 2rem;
    font-weight: 600;
}

h2 {
    font-size: 1.5rem;
    line-height: 1.5rem;
    font-weight: 500;
}


h3 {
    font-size: 1.2rem;
    line-height: 1.2rem;
    font-weight: 500;
}

h4 {
    font-size: 1rem;
    line-height: 1rem;
    font-weight: 400;
}