// Quasar SCSS (& Sass) Variables
// --------------------------------------------------
// Check documentation for full list of Quasar variables

// Your own variables (that are declared here) and Quasar's own
// ones will be available out of the box in your .vue/.scss/.sass files

$primary   : #6269ff;
$secondary : #cccccc;
$accent    : #1f3d8f;

$dark      : #383838;
$dark-page : #121212;

$positive  : #1ea871;
$negative  : #c20030;
$info      : #abcadb;
$warning   : #F2C037;
